.wrapper {
  display: inline-flex;
  /* display: flex; */
}
.wrapper .static-text {
  /* color: #fff; */
  color: rgba(204, 204, 204, 0.726);
  font-size: 40px;
  font-weight: 400;
  margin-top: 25px;
}
.wrapper .dynamic-text {
  margin-left: 15px;
  line-height: 90px;
  height: 90px;
  overflow: hidden;
}
.dynamic-text li span {
  position: relative;
}
.dynamic-text li {
  list-style: none;
  font-size: 60px;
  font-weight: 500;
  /* color: #ce4a4a; */
  /* color: #e66666; */
  color: #fff;
  position: relative;
  top: 0;
  animation: slide 6s steps(4) infinite;
}
@keyframes slide {
  100% {
    top: -360px;
  }
}
.dynamic-text li span:after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  /* border-left: 2px solid #fc6d6d; */
  animation: typing 2.5s steps(13) infinite;
}
@keyframes typing {
  100% {
    left: 100%;
    margin: 0 -35px 0 35px;
  }
}

@media screen and (max-width: 560px) {
  .wrapper .static-text {
    font-size: 24px;
  }
  .dynamic-text li {
    font-size: 25px;
    /* margin-top: -20px; */
  }
  .wrapper {
    display: flex;
    flex-direction: column;
  }
}
